body {
  background-image: url(../images/landscape.jpg);
  background-position: right;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  margin: 0 auto;
  padding: 40px;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-style: italic;
}
.about {
  text-align: center;
  font-size: 20px;
}
.quotes {
  text-align: center;
  font-size: 16px;
}

.buttons {
  text-align: center;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #EFEFEF;
    text-align: center;
}
